# The vscode extension is published to npm when a release is created.
# It's built with vsce and published to both the vscode marketplace and open vsx.

name: Publish VSCode Extension
on:
  workflow_dispatch:

defaults:
  run:
    working-directory: ./components/clarity-vscode

jobs:
  build-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    environment: release-vscode-extension

    permissions:
      contents: read
      id-token: write # Required for OIDC authentication with Azure

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.1.0
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Setup Rust
        run: |
          rustup toolchain install stable --profile minimal --target wasm32-unknown-unknown
          cargo install wasm-pack

      - name: Install dependencies
        run: npm ci

      - name: Build vsix
        run: npx vsce package --out clarity.vsix

      - name: Azure Login (OIDC)
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          allow-no-subscriptions: true

      - name: Publish to VSCode Marketplace
        continue-on-error: true
        run: npx @vscode/vsce verify-pat StacksLabs --azure-credential
        #npx vsce publish --packagePath clarity.vsix --azure-credential

      # - name: Publish to Open VSX
      #   run: npx ovsx publish --packagePath clarity.vsix --pat ${{ secrets.OVSX_TOKEN }}